@import "../../node_modules/lightgallery.js/dist/css/lightgallery.css";
@import "../../node_modules/lightgallery.js/dist/css/lg-transitions.css";
@import "../../node_modules/lightgallery.js/dist/css/lg-fb-comment-box.css";
@import "../../node_modules/flickity/dist/flickity.min.css";
@import "../../node_modules/lightgallery.js/dist/css/lightgallery.css";
@import "../../node_modules/lightgallery.js/dist/css/lg-transitions.css";
@import "../../node_modules/lightgallery.js/dist/css/lg-fb-comment-box.css";